{{> nav}}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/home">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/teams/team">Mijn team</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users/my-profile">Mijn Profiel</a>
    </li>
    {{#if teamCaptain}}
    <li class="nav-item">
        <a class="nav-link active" href="/tasks/add-a-task">Taak aanmaken</a>
    </li>
    {{/if}}
</ul>

{{>messages}}

<div class="container">
    <div class="card mt-4">
        <div class="card-header">
            Nieuwe taak aanmaken
        </div>
        <div class="card-body">
            <form method="post" action="/tasks/add-a-task">
                <div class="form-group">
                    <label for="title">Taak Titel</label>
                    <input {{#if edit}} value={{task.title}} {{/if}} type="text" class="form-control" name="title"
                        placeholder="Titel van de taak">
                </div>
                <div class="form-group">
                    <label class="control-label" for="date">datum en tijd</label>
                    <div class="row">
                        <div class="col-sm-12">
                            <input placeholder="Kies een datum en tijd" name="date" style="background-color: white;"
                                readonly class="date form-control" id="datetimepicker" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="executors">Uitvoerders</label>
                    <select name="executors" multiple class="selectpicker form-control" id="inputGroupSelect01">
                        {{#each team.members}}
                        <option value={{this._id}}>{{this.firstname}} {{this.lastname}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="done">Taak op klaar zetten</label>
                    <input {{#if edit}} {{#if task.done}} checked {{/if}} {{/if}} type="checkbox" name="done"
                        aria-label="Checkbox for following text input">
                    <input type="hidden" name="team" value="{{team._id}}">
                </div>
                <div class="row justify-content-end mr-1">
                    <button class="btn btn-primary" type="submit">Opslaan</button>
                </div>
        </div>
        </form>
    </div>
</div>