{{> nav}}

{{>messages}}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/home">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/teams">Mijn team</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#add-team-modal" href="/add-a-team">Mijn Profiel</a>
    </li>
</ul>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="col-sm-12">
                <form action="/teams/team" method="get">
                    <div class="row">
                        <div class="col-lg-12 mt-4">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <input type="text" name="search" class="form-control search-slt"
                                        placeholder="Zoek op titel...">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <select name="done" class="form-control search-slt" id="exampleFormControlSelect1">
                                        <option value="">Status...</option>
                                        <option value="true">Voltooide taken</option>
                                        <option value="false">Niet Voltooide taken</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <select class="form-control search-slt" id="exampleFormControlSelect1">
                                        <option value="">Alle teamleden</option>
                                        {{!-- {{#each team.members}}
                                    <option>{{this.firstname}} {{this.lastname}}</option>
                                    {{/each}} --}}
                                    </select>
                                </div>
                                <div class=" col-lg-3 col-md-3 col-sm-12 p-0">
                                    <button type="submit" class="btn btn-primary btn-block">Zoeken</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card mt-4">
                <div class="card-header">
                    Team Taken
                </div>
                <div class="card-body">
                    {{#if tasks}}
                    {{#each tasks}}
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="card-title">
                                        <h4>{{this.title}}</h4>
                                    </div>
                                    <div class="card-text">
                                        {{this.date}}
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    {{#if this.done}}
                                    <p><span class="far fa-check fa-4x" style="color: green" /></p>
                                    {{else}}
                                    <p><span class="far fa-times fa-4x" style="color: red" /></p>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            Uitvoerder(s)
                            <div style="margin-left:0px" class="row">
                                {{#each this.executors}}
                                <h5><span style="margin-right:10px" class="badge badge-secondary">{{this.firstname}}
                                        {{this.lastname}}</span></h5>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <p>Geen resultaten gevonden...</p>
                    {{/if}}
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card mt-4">
                <div class="card-header">
                    Mijn team
                </div>
                <div class="card-body">
                    {{#if team.members}}
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            {{#each team.members}}
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-sm-12">
                                        {{this.firstname}} {{this.lastname}}
                                        {{#ifCond this.role "team-captain"}}
                                        <span data-toggle="tooltip" data-placement="top" title="Team aanvoerder" class="fa-stack fa-sm ">
                                            <i class="fas fa-square fa-stack-2x"></i>
                                            <i class="fab fa-cuttlefish fa-stack-1x fa-inverse"></i>
                                        </span>
                                        {{/ifCond}}
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    {{else}}
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <p>dit team heeft nog geen spelers</p>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>