{{> nav}}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/home">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/teams/team">Mijn team</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users/my-profile">Mijn Profiel</a>
    </li>
    {{#if teamCaptain}}
    <li class="nav-item">
        <a class="nav-link" href="/tasks/add-a-task">Taak aanmaken</a>
    </li>
    {{/if}}
</ul>

{{>messages}}

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="col-sm-12">
                <form action="/teams/team" method="get">
                    <div class="row">
                        <div class="col-lg-12 mt-4">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <input type="text" name="search" class="form-control search-slt"
                                        placeholder="Zoek op titel...">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <select name="done" class="form-control search-slt" id="exampleFormControlSelect1">
                                        <option value="">Status...</option>
                                        <option value="true">Voltooide taken</option>
                                        <option value="false">Niet Voltooide taken</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <select title="Alle teamleden" name="members" class="selectpicker form-control"
                                        id="exampleFormControlSelect1">
                                        {{#each team.members}}
                                        <option value={{this._id}}>{{this.firstname}} {{this.lastname}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class=" col-lg-3 col-md-3 col-sm-12 p-0">
                                    <button type="submit" class="btn btn-primary btn-block">Zoeken</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card mt-4">
                <div class="card-header">
                    Team Taken
                </div>
                <div class="card-body">
                    {{#if tasks}}
                    {{#each tasks}}
                    {{> edit-task-modal}}
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="card-title">
                                        <h4>{{this.title}}</h4>
                                    </div>
                                    <div class="card-text">
                                        {{this.date}}
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    {{#if this.done}}
                                    <p><span class="far fa-check fa-4x" style="color: green" /></p>
                                    {{else}}
                                    <p><span class="fal fa-ellipsis-h fa-4x" /></p>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row justify-content-between">
                                <div class="col-sm-6">
                                    Uitvoerder(s)
                                    <div style="margin-left:0px" class="row">
                                        {{#each this.executors}}
                                        <h5><span style="margin-right:10px"
                                                class="badge badge-secondary">{{this.firstname}}
                                                {{this.lastname}}</span></h5>
                                        {{/each}}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <form action="/tasks/edit-done" method="post">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="toggle-done" name="done" data-on="Voltooid"
                                                data-off="Niet voltooid" data-onstyle="success"
                                                data-role={{../user.role}} data-team={{../user.team}} {{#if this.done }}
                                                checked {{/if}} data-toggle="toggle" value={{this._id}}>
                                            {{#if ../teamCaptain}}
                                            <a style="text-decoration: none;" href="/tasks/edit-task/{{this._id}}">
                                                <button type="button" class="btn btn-dark">
                                                    <span class="fal fa-edit fa-lg">
                                                </button>
                                            </a>
                                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                                data-target="#deleteTaskModal" data-task-id={{this._id}}>
                                                <span class="fal fa-trash fa-lg">
                                            </button>
                                            {{/if}}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <p>Geen resultaten gevonden...</p>
                    {{/if}}
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card mt-4">
                <div class="card-header">
                    Mijn team
                </div>
                <div class="card-body">
                    {{#if team.members}}
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            {{#each team.members}}
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-sm-12">
                                        <span {{#ifCond this._id ../user._id }} style="font-weight:600"
                                            {{/ifCond}}>{{this.firstname}}
                                            {{this.lastname}}
                                            {{#ifCond this.role "team-captain"}}
                                            <span data-toggle="tooltip" data-placement="top" title="Team aanvoerder"
                                                class="fa-stack fa-sm ">
                                                <i class="fas fa-square fa-stack-2x"></i>
                                                <i class="fab fa-cuttlefish fa-stack-1x fa-inverse"></i>
                                            </span>
                                            {{/ifCond}}
                                        </span>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    {{else}}
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <p>dit team heeft nog geen spelers</p>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>

{{> delete-task-modal}}