{{> nav}}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/home">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/teams">Teams</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#add-team-modal" href="/add-a-team">Nieuw Team</a>
    </li>
</ul>

{{>messages}}

<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="card mt-4">
                <div class="card-header">
                    {{team.name}}
                </div>
                <div class="card-body">
                    {{#if team.members}}
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            {{#each team.members}}
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-sm-6">
                                        {{this.firstname}} {{this.lastname}}
                                        {{#ifCond this.role "team-captain"}}
                                        <span data-toggle="tooltip" data-placement="top" title="Team aanvoerder"
                                            class="fa-stack fa-sm ">
                                            <i class="fas fa-square fa-stack-2x"></i>
                                            <i class="fab fa-cuttlefish fa-stack-1x fa-inverse"></i>
                                        </span>
                                        {{/ifCond}}
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-dark" data-toggle="modal"
                                            data-target="#editModal" data-user-id={{this._id}}>
                                            Edit
                                        </button>
                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                            data-target="#deleteModal" data-user-id={{this._id}}>
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    {{else}}
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <p>dit team heeft nog geen spelers</p>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="card mt-4">
                <div class="card-header">
                    Team Taken
                </div>
                <div class="card-body">
                    {{#if tasks}}
                    {{#each tasks}}
                    {{> edit-task-modal}}
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="card-title">
                                        <h4>{{this.title}}</h4>
                                    </div>
                                    <div class="card-text">
                                        {{this.date}}
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    {{#if this.done}}
                                    <p><span class="far fa-check fa-4x" style="color: green" /></p>
                                    {{else}}
                                    <p><span class="fal fa-ellipsis-h fa-4x" /></p>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row justify-content-between">
                                <div class="col-sm-6">
                                    Uitvoerder(s)
                                    <div style="margin-left:0px" class="row">
                                        {{#each this.executors}}
                                        <h5><span style="margin-right:10px"
                                                class="badge badge-secondary">{{this.firstname}}
                                                {{this.lastname}}</span></h5>
                                        {{/each}}
                                    </div>
                                </div>
                                {{#if ../teamCaptain}}
                                <div class="col-sm-6">
                                    <form action="/tasks/edit-done" method="post">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="toggle-done" name="done" data-on="Voltooid"
                                                data-off="Niet voltooid" data-onstyle="success" {{#if this.done }}
                                                checked {{/if}} data-team={{../team._id}} data-toggle="toggle"
                                                value={{this._id}} data-role={{../user.role}}>
                                            <a style="text-decoration: none;" href="/tasks/edit-task/{{this._id}}">
                                                <button type="button" class="btn btn-dark">
                                                    <span class="fal fa-edit fa-lg">
                                                </button>
                                            </a>
                                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                                data-target="#deleteTaskModal" data-task-id={{this._id}}>
                                                <span class="fal fa-trash fa-lg">
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <p>Geen resultaten gevonden...</p>
                    {{/if}}
                </div>
            </div>
        </div>

    </div>
</div>

{{> delete-modal}}

{{> edit-modal}}

{{>add-team-modal}}

{{> delete-task-modal}}